body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   width: 100%;
}

#SEDAN{
    background-color: orange;
    padding: 15px;
    border-radius: 10px 0 0 10px;
    color: white;
}
#SUV{
    background-color: rgba(7, 103, 103, 0.727);

    padding: 15px;
    color: white;


}
#LUXURY{
    background-color: rgba(10, 85, 77, 0.985);
    padding: 15px;
    border-radius: 0 10px 10px 0px;
    color: white;

}
.container{
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 60%;  
    justify-content: center;
}
button{
  width:90px;
  border: 0;
  border-radius: 15px;  
  background-color: white;
  padding: 8px;
  cursor: pointer;
}
.btn1{
    color: orange;
}
.btn2{
    color: rgb(13, 188, 129);
}
.btn3{
    color: green;
}
h1 p{
    color: white;
}