*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
}
.wrapper{
    width: 500px;
    background-color: rgb(201, 16, 34);
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .header{
    width: 100%;
    border: 2px dotted white;
    margin-bottom: 10px;
    background-color: transparent;
 }
   input{
    border-radius: 8px;
    border: 1px solid white;
    padding: 3px;
    align-items: center;
    width: 100%;
    height: 30px;
   }
   label{
    justify-content: center;
    align-items: center;
    justify-items: center;
   }
   h1,p{
    align-items: center;
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    justify-content: center;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   .container{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
   }
   .container input{
    padding: 5px;
    font-size: 16px;
   }
   .container input:hover{
    color: white;
    background-color: black;
    cursor: pointer;
   }
   .wrapper .checkbox input{
    width: 20px;
   }
      
   