*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
   min-height: 100vh; 
   background-color: white;
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
}
.home{
    width: 400px;
    background-color: rgba(246, 250, 249, 0.901);
    justify-content: center;
    align-items: center;  
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color:rgb(187, 195, 194);
}
.profile{
    height: 200px;
    width: 200px;
    border: 3px solid;
    border-radius: 50%;
    /* background-color: blue; */
    margin-bottom: 20px;
    margin-right: 50px;
    margin-top: 30px;
    margin-left: 100px;
    /* background-image: url(images/profile\ pic.jpeg); */
    background-size: contain;
}
.container{
    margin-left: 30px;
}
.texxt{
    margin-top: 70px; margin-left: -70px;
}
.home .container h2{
    color: blue;
    font-weight: 50;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.home .container h1{
    margin-bottom: 5px;
    text-align: center;
}
.home .container p{
    margin: 20px;
    text-align: left;
    text-decoration: none;
    font-weight: 10px;
    font-size: medium;
    color: rgba(57, 111, 174, 0.852);
}
.container2{
    width: 350px;
    background-color: white;
    display: flex;
    gap: 1rem;
    height: 120px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-bottom:30px;
    margin-top: 5px;    
    padding: 20px;
}
.container2 .box{
    background-color: rgb(166, 177, 193);
    border-radius: 40px;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: cen;
    margin-left: 8px;
}
.home .new-content p{
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: left;
font-weight: 20px;
font-size: medium;
margin-right: 10px;
margin-left: 10px;
    color: rgba(57, 111, 174, 0.852);
}
.home .new-container3 {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-right: 20px;
}
.home .new-container3:hover{
cursor: pointer;
color: blue;
}
.new-container3 .box{
border: px solid black;
padding: 5px;
border-radius: 20px;
background-color: white;
width: 80px;
text-align: center;
}
.home .container11{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid blue;
    background-color: blue;
    border-radius: 20px;
    margin-right: 25px;
    color: white;
    width: 350px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.home .container11 a{
    color: white;
 text-decoration: none;
}
.home .container111{
    border: 2px solid greenyellow;
    background-color: white;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    padding: 10px;
}
.home .container111 .text{
    display: flex;
    margin-left: 20px;
    margin-top: 1px;
    margin-bottom: px;
}
.home .container111 .GP {
    display: flex;
    gap: 30%;
    align-items: center;
    margin-left: 80px;
    margin-top: 0%;   
}
.container111 button{
    background-color: rgb(121, 144, 207);
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.home .container111  p{
    margin-left: 80px;
    margin-top: 2px;
    margin-bottom: 5px;
}
.home .container111 i{
    width: 50px;
    height: 40px;
    background-color: #dfdbdb;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .container-Project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    margin-left: 20px;
    background-color: #a4c6ba;
    border-radius: 15px 15px 0 0;    
}
.home .container-Project img{
    object-fit: contain;
    height: auto;
    width: 200px;
}
.home h3{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 25px;
}
.home .new container h3{
     margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 25px;
}
.home .Specification .container-spec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100px;
    margin-left: 20px;
    border-radius: 0 0 15px 15px;
    background-color: white;
    margin-bottom: 50px;
   color: rgba(57, 111, 174, 0.852);
   padding: 0 20px;

}
strong{
    color: black;
}








